<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

        <mapping class="ru.iac.entity.Cn"/>
        <mapping class="ru.iac.entity.Ct"/>
        <mapping class="ru.iac.entity.Ds"/>
        <mapping class="ru.iac.entity.Fl"/>
        <mapping class="ru.iac.entity.Fldolgn"/>
        <mapping class="ru.iac.entity.Fluchr"/>
        <mapping class="ru.iac.entity.Gosreg"/>
        <mapping class="ru.iac.entity.Ip"/>
        <mapping class="ru.iac.entity.Ipcitizen"/>
        <mapping class="ru.iac.entity.Ipdokdsn"/>
        <mapping class="ru.iac.entity.Ipfoms"/>
        <mapping class="ru.iac.entity.Ipfss"/>
        <mapping class="ru.iac.entity.Ipgosreg"/>
        <mapping class="ru.iac.entity.Ipmns"/>
        <mapping class="ru.iac.entity.Ipname"/>
        <mapping class="ru.iac.entity.Ipokved"/>
        <mapping class="ru.iac.entity.Ippf"/>
        <mapping class="ru.iac.entity.Ipregold"/>
        <mapping class="ru.iac.entity.Iul"/>
        <mapping class="ru.iac.entity.Licenz"/>
        <mapping class="ru.iac.entity.OkatoRaion"/>
        <mapping class="ru.iac.entity.Oksm"/>
        <mapping class="ru.iac.entity.Okved"/>
        <mapping class="ru.iac.entity.PostIndexes"/>
        <mapping class="ru.iac.entity.PrefiksRaion"/>
        <mapping class="ru.iac.entity.Raion"/>
        <mapping class="ru.iac.entity.Reestrao"/>
        <mapping class="ru.iac.entity.Rg"/>
        <mapping class="ru.iac.entity.Rul"/>
        <mapping class="ru.iac.entity.Spdokdn"/>
        <mapping class="ru.iac.entity.Spfoms"/>
        <mapping class="ru.iac.entity.Spfss"/>
        <mapping class="ru.iac.entity.Spipstat"/>
        <mapping class="ru.iac.entity.Splang"/>
        <mapping class="ru.iac.entity.Splicorg"/>
        <mapping class="ru.iac.entity.Spmns"/>
        <mapping class="ru.iac.entity.Spopf"/>
        <mapping class="ru.iac.entity.Sposndn"/>
        <mapping class="ru.iac.entity.Sppf"/>
        <mapping class="ru.iac.entity.Spregorg"/>
        <mapping class="ru.iac.entity.Spsostlic"/>
        <mapping class="ru.iac.entity.Spulstat"/>
        <mapping class="ru.iac.entity.Spvidadr"/>
        <mapping class="ru.iac.entity.Spvidcap"/>
        <mapping class="ru.iac.entity.Spvidcitizen"/>
        <mapping class="ru.iac.entity.Spvidip"/>
        <mapping class="ru.iac.entity.Spvidlic"/>
        <mapping class="ru.iac.entity.Spvidreg"/>
        <mapping class="ru.iac.entity.St"/>
        <mapping class="ru.iac.entity.Ul"/>
        <mapping class="ru.iac.entity.UlActualData"/>
        <mapping class="ru.iac.entity.Uladr"/>
        <mapping class="ru.iac.entity.Ulcapital"/>
        <mapping class="ru.iac.entity.Ulfoms"/>
        <mapping class="ru.iac.entity.Ulfss"/>
        <mapping class="ru.iac.entity.Ulmns"/>
        <mapping class="ru.iac.entity.Ulname"/>
        <mapping class="ru.iac.entity.UlnameFull"/>
        <mapping class="ru.iac.entity.Ulob"/>
        <mapping class="ru.iac.entity.Ulokved"/>
        <mapping class="ru.iac.entity.Ulpf"/>
        <mapping class="ru.iac.entity.Ulpredsh"/>
        <mapping class="ru.iac.entity.Ulpreem"/>
        <mapping class="ru.iac.entity.Ulupr"/>
        <mapping class="ru.iac.entity.XmlLoadLog"/>
    </session-factory>
</hibernate-configuration>