<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--property name="dialect">org.hibernate.dialect.Oracle10gDialect</property-->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <!-- DB schema will be updated if needed -->
        <!--property name="hbm2ddl.auto">update</property-->

        <mapping class="ru.spb.iac.toris.egrulegrip.model.Cn"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ct"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ds"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Fl"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Fldolgn"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Fluchr"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Gosreg"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ip"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipadr"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipcitizen"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipdokdsn"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipemail"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipfoms"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipfss"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipgosreg"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipmns"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipname"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipokved"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ippf"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ipregold"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Iul"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Licenz"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.OkatoRaion"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Oksm"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Okved"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.PostIndexes"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.PrefiksRaion"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Raion"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Reestrao"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Rg"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Rul"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spdokdn"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spfoms"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spfss"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spipstat"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Splang"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Splicorg"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spmns"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spopf"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Sposndn"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Sppf"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Sppreddok"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spregorg"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spsostlic"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spulstat"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spvidadr"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spvidcap"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spvidcitizen"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spvidip"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spvidlic"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Spvidreg"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.St"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ul"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.UlActualData"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Uladr"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulcapital"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulfoms"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulfss"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulmns"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulname"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.UlnameFull"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulob"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulokved"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulpf"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulpredsh"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulpreem"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.Ulupr"/>
        <mapping class="ru.spb.iac.toris.egrulegrip.model.XmlLoadLog"/>
    </session-factory>
</hibernate-configuration>